a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--pom-text-color);
}

.tutorials {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  & > * {
    grid-column: 2;
  }

  & > *:nth-child(even) {
    --item-background-color: var(--pom-background-color-2);
  }
}
