.image-container {
  margin-top: 1em;

  .image {
    width: 100%;

    img {
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: var(--pom-box-shadow);
    }
  }
  .caption {
    margin-top: -3px;
    text-align: center;
    color: var(--pom-text-color-2);
    font-size: var(--pom-font-size-small);
  }
}
