pom-tutorial {
  display: block;
  margin: 0 auto;
  max-width: var(--pom-max-container-width);
}

section {
  padding: 20px;
}

a,
a:link,
a:active,
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: var(--pom-color-primary);
}

h1 {
  margin: 0 0 var(--pom-margin-bottom);
}

h2 {
  padding-top: 1.3em;
}

.more-info {
  display: flex;
  font-size: 0.8em;
  position: relative;
  color: var(--pom-text-color-2);
  margin-top: var(--pom-margin-top);

  ion-icon {
    font-size: 1.4em;
    margin-right: 2px;
    transform: translateY(4px);
  }

  .publish-date {
    font-weight: bold;
  }

  .time-to-read {
    margin-left: 10px;
  }

  pom-share-buttons {
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.section-header {
  display: flex;

  &:hover {

    ion-icon {
      opacity: 1;
      pointer-events: auto;
    }
  }

  ion-icon {
    opacity: 0;
    margin-bottom: -4px;
    margin-left: 8px;
    pointer-events: none;
    transition: var(--pom-transition);

    &:hover {
      color: var(--pom-color-primary-shade);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

p {
  text-align: justify;
}

.sections-menu {
  position: fixed;
  right: 10px;
  top: 56px;
  font-size: 0.8em;

  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .section-menu-title {
    padding-bottom: 5px;
    text-transform: uppercase;
    color: var(--pom-text-color-2)
  }

  .sections-menu-item {
    padding: 5px 0;
  }

  a,
  a:link,
  a:active,
  a:visited {
    display: block;
    position: relative;
    transform-origin: 50% 100%;
    color: var(--pom-text-color);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -20px;
      width: 2px;
      opacity: 0;
      background-color: var(--pom-color-primary);
    }

    &.on-screen {
      color: var(--pom-color-primary);

      &::after {
        opacity: 1;
      }
    }
  }
}
