:host {
  cursor: pointer;
}

.container {
  border-radius: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  transition: var(--pom-transition);

  &:hover {
    background-color: rgba(#fff, 0.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &::after {
    color: var(--pom-background-color-2);
    font-size: 12px;
    opacity: 0;
    content: 'Copied!';
    position: absolute;
    top: 120%;
    right: 0;
    padding: 2px 5px;
    background: var(--pom-text-color);
    border-radius: 2px;
    box-shadow: var(--pom-box-shadow);
  }

  &:not(:active)::after {
    transition: opacity 2s linear;
  }

  &:active::after {
    opacity: 1;
  }

  ion-icon {
    font-size: var(--pom-font-size-big);
    margin-right: 2px;
  }
}
