@import "theming.scss";

body {
  --pom-margin-top: 10px;
  --pom-margin-end: 10px;
  --pom-margin-bottom: 10px;
  --pom-margin-start: 10px;

  --pom-padding-top: 10px;
  --pom-padding-end: 10px;
  --pom-padding-bottom: 10px;
  --pom-padding-start: 10px;

  --pom-padding-big-top: 30px;
  --pom-padding-big-end: 20px;
  --pom-padding-big-bottom: 30px;
  --pom-padding-big-start: 20px;

  --pom-font-size-smaller: 0.6em;
  --pom-font-size-small: 0.8em;
  --pom-font-size-default: 1em;
  --pom-font-size-medium: 1.2em;
  --pom-font-size-big: 1.4em;
  --pom-font-size-huge: 1.6em;

  --pom-max-container-width: 600px;
  --pom-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
  --pom-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

body {
  margin: 0;
  padding: 0;
  color: var(--pom-text-color-2);
  background-color: var(--pom-background-color);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body.dark {
  --pom-text-color: #ecf0f1;
  --pom-text-color-2: #c8d6e5;
  --pom-background-color: #222f3e;
  --pom-background-color-2: #2c3e50;

  --pom-color-primary: #2c3e50;
  --pom-color-primary-contrast: #ecf0f1;
  --pom-color-secondary: #22a6b3;
  --pom-color-secondary-contrast: #ecf0f1;
}

h1,
h2 {
  color: var(--pom-text-color);
}

p {
  text-align: justify;
  color: var(--pom-text-color-2);
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--pom-color-secondary);
}

.pom-button {
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: var(--pom-box-shadow);
  background: var(--pom-color-secondary);
  color: var(--pom-color-secondary-contrast);
  transition: var(--pom-transition);

  &:active {
    transform: scale(0.95);
  }
}

.pom-button-clear {
  outline: 0;
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: var(--pom-transition);
  color: var(--pom-color-primary-contrast);

  &:active {
    transform: scale(0.95);
  }
}
