:root {
  --pom-code-text-color: #ecf0f1;
  --pom-code-background-color: #2c3e50;

  --pom-text-color: #2c3e50;
  --pom-text-color-2: #34495e;
  --pom-background-color: #ffffff;
  --pom-background-color-2: #eeeeee;

  --pom-color-primary: #2c3e50;
  --pom-color-primary-contrast: #ecf0f1;
  --pom-color-secondary: #22a6b3;
  --pom-color-secondary-contrast: #ecf0f1;
}
