:host {
  display: block;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--pom-color-primary);
}

ion-icon {
  font-size: 1.4em;
  transform: translateY(5px);
}

.description {
  margin-left: 3px;
  color: var(--pom-text-color);
  transition: var(--pom-transition);

  &:hover {
    color: var(--pom-color-primary-shade);
  }
}
