pom-header {
  top: 0;
  width: 100%;
  position: fixed;
}

main {
  padding: 54.4px 0px 0px;
}

footer {
  display: flex;
  margin-top: var(--pom-margin-top);
  color: var(--pom-text-color-2);
  font-size: var(--pom-font-size-smaller);
  background-color: var(--pom-text-color-contrast-2);
  padding: var(--pom-padding-top) var(--pom-padding-big-start) var(--pom-padding-bottom) var(--pom-padding-big-end);
}

footer .description {
  flex: 1;
}
