:host {
  display: block;
  position: relative;
}

.share-buttons {
  &:hover {
    .popup {
      opacity: 1;
      pointer-events: auto;
    }
    .share-button {
      color: var(--pom-color-secondary-shade);
    }
  }
}

.share-button {
  cursor: pointer;
  text-align: right;
  pointer-events: all;
  transition: var(--pom-transition);

  ion-icon {
    font-size: 1.4em;
    margin-right: 2px;
    transform: translateY(4px);
  }
}

.popup {
  opacity: 0;
  pointer-events: none;
  right: 100%;
  top: -15px;
  position: absolute;
  transition: var(--pom-transition);
  padding-right: 20px;

  .popup-inner {
    padding: 20px 40px 20px 20px;
    border-radius: 5px;
    box-shadow: var(--pom-box-shadow);
    background-color: var(--pom-background-color);
  }
}

.social-button {
  margin-top: 10px;
  transition: var(--pom-transition);

  &:first-child {
    margin-top: 0;
  }

  a,
  a:link,
  a:active,
  a:visited {
    display: flex;
    text-decoration: none;
    color: var(--pom-text-color);
  }

  ion-icon {
    font-size: 1.4em;
    margin-right: var(--pom-margin-end);
  }

  &:hover {
    transform: scale(1.05);

    a,
    a:link,
    a:active,
    a:visited {
      color: var(--pom-color-secondary-shade);
    }
  }
}
