.app-post {
  max-width: 600px;
  margin: 0 auto;
}

section {
  padding: 20px;
  box-sizing: border-box;
}

header {
  h1 {
    font-size: 1.7em;
  }

  .post-info {
    display: flex;
    font-size: 0.8em;
    position: relative;
    color: var(--pom-text-color);
    margin-top: var(--pom-margin-top);
    margin-bottom: var(--pom-margin-bottom);

    ion-icon {
      font-size: 1.4em;
      margin-right: 2px;
      transform: translateY(4px);
    }

    .publish-date {
      font-weight: bold;
    }

    .time-to-read {
      margin-left: 10px;
    }

    .toggle-mode-button {
      transform: translateY(-1px);

      button {
        border: 0;
        outline: 0;
        cursor: pointer;
        border-radius: 5px;
        padding: 0 5px 5px 5px;
        color: var(--pom-text-color);
        margin: 0 0 0 var(--pom-margin-start);
        background: var(--pom-background-color);
        transition: var(--pom-transition);

        &:hover {
          background: var(--pom-background-color-2);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    pom-share-buttons {
      z-index: 30;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

article {
  h2 {
    padding-top: 1.3em;
  }

  .section-header {

    &:hover {

      ion-icon {
        opacity: 1;
        pointer-events: auto;
      }
    }

    ion-icon {
      opacity: 0;
      margin-bottom: -4px;
      pointer-events: none;
      transition: var(--pom-transition);

      &:hover {
        color: var(--pom-color-secondary-shade);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.nav {
  top: 104px;
  right: 40px;
  position: fixed;

  display: none;
  justify-content: center;

  .nav-inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .section-menu-title {
    font-size: 0.7em;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: var(--pom-text-color-2)
  }

  .sections-menu-item {
    padding: 5px 0;
    font-size: 0.8em;

    &.level-2 {
      opacity: 1;
      font-weight: 500;
    }

    &.level-3 {
      margin-left: 10px;
      opacity: 0.9;
    }

    &.level-4 {
      margin-left: 20px;
      opacity: 0.8;
    }

    &,
    &:link,
    &:active,
    &:visited {
      display: block;
      position: relative;
      transition: var(--pom-transition);
      transform-origin: 50% 100%;
      color: var(--pom-text-color);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      width: 2px;
      opacity: 0;
      background-color: var(--pom-color-secondary);
    }

    &.on-screen {
      color: var(--pom-color-secondary);

      &::after {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .nav {
    display: flex;
  }
}
