<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
      <rewrite>
        <rules>
          <rule name="Stencil" stopProcessing="true">
            <match url="^(.+)/posts/$" />
            <conditions logicalGrouping="MatchAll">
            </conditions>
            <action type="Rewrite" url="/"  appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration> 