.menu-button {
  transform: translateY(2px);
  color: var(--pom-color-primary-contrast);
  padding-left: var(--menu-items-distance);
}

a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: currentColor;
}
